@font-face {
	font-family: "SourceHanSansSC-Regular";
	src: url('../fonts/SourceHanSansSC-Regular.ttf');
}
html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body, button, div, fieldset, figure, form, h1, h2, h3, h4, h5, h6, i, img, input, label, legend, li, ol, p, table, td, th, tr, ul {
    padding: 0;
    margin: 0;
}
body {
    background-color: #fff;
    color: #2c3e50;
    font-size: .875em/1.42858;
	font-family: SourceHanSansSC-Regular,Microsoft Yahei,sans-serif!important;
	min-height: 100vh;
	background-size: cover;
}
a, button, input {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline-style: none;
}
input {
    height: 30px;
}
a {
    text-decoration: none;
    color: #7f8c8d;
}
li {
    list-style: none;
}
input, textarea {
    box-sizing: border-box;
    border: none;
    resize: none;
    padding-left: 10px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    color: #2c3e50;
}
img {
    border: none;
}
* {
    box-sizing: border-box;
	user-select: auto;
}
.font-medium, .font-regular,.font-bold {
    font-weight: 600;
    font-style: normal;
}
svg:not(:root) {
    overflow: hidden;
}
.loadings {
    background-image: url(https://wimg.bigbigwork.com/p/images/loading02.gif);
    background-repeat: no-repeat;
    background-position: 50%;
}
@media screen and (max-width: 2399px) and (min-width: 1710px){
	.recommend_container {
	    width: 1680px;
	}
}
@media (min-width: 1920px){
	.sitemap-box .industryBox {
	    max-width: 1680px;
	}
}
@media (min-width: 1450px){
	.sitemap-box .blog a {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden!important;
		max-width: 436px!important;
	}
}
